.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient( 109.6deg,  black, black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
  min-width: 50vh;
  min-height: 50vh;
  width: 50%;
  padding-bottom: 50%;
}

.Green > * {
  /* Your style */
  width: 56px;
  height: 56px;
  border-radius: 4px;
  position: center;
  background-color: #6ca965;
  transition: 0.3s all;
  border-style: solid;
  border-color: #ffffff;
  color: white;
  font-size: 100%;
  text-align: center; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10px;
}

.Green > *:hover {
  background-color: rgba(220, 220, 129, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.Green > *:focus {
  border-style: solid;
  border-color: #ffffff;
  background-color: green;
  outline: none;
}

.Yellow > * {
  /* Your style */
  width: 56px;
  height: 56px;
  border-radius: 4px;
  position: center;
  background-color: #c8b653;
  transition: 0.3s all;
  border-style: solid;
  border-color: #ffffff;
  color: white;
  font-size: 100%;
  text-align: center; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10px;
  margin-top: 10px;
}

.Yellow > *:hover {
  background-color: rgba(255, 255, 164, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.Yellow > *:focus {
  border-style: solid;
  border-color: #ffffff;
  background-color: silver;
  outline: none;
}

.Grey > * {
  /* Your style */
  width: 56px;
  height: 56px;
  border-radius: 4px;
  position: center;
  background-color: #787c7f;
  transition: 0.3s all;
  border-style: solid;
  border-color: #ffffff;
  color: white;
  font-size: 100%;
  text-align: center; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10px;
  margin-top: 10px;
}

.Grey > *:hover {
  background-color: rgba(160,164,167,100);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.Grey > *:focus {
  border-style: solid;
  border-color: white;
  background-color: rgba(90,94,97,100);
  outline: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
